body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgreen;
    text-align: center;
}
h1 {  
    color: rgb(29, 22, 29);  
    font-size: 2rem;
}

.gridbox {
    display: flex;
    align-content: center;
    justify-content: center;
    ;
}
#box > * {
    background-color: aqua;
  width: 10rem;
  padding: 1%;
  border: 1px dashed #333;
  border-radius: 15px 50px;
}
.highlight {
    
    color:black;
    text-align: center;
}
a[href] {
    padding: 10px;
}
p {
    padding: 10px
}
li {
    padding: 10px;
}
* {
    font-family: Arial, Verdana, sans-serif;
}
img {
    max-width: 100%;  
height: 150px; 
width: 150px;  
text-align: center;  
padding: 5px;  
border: 3px solid red; 
}
#button {
    width: 10em;
    height: 5ex;
    background-color: green;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
#button:hover {
    background-color: gold;
}
a:hover {
    background-color: gold;
}
